# Serviço do maratona-firewall para ser executado na
# inicialização do sistema. Esse serviço faz com que o firewall da máquina sempre
# inicie ativado, cabendo ao administrador da máquina desativa-lo.

[Unit]
Description=Maratona Firewall Service

[Service]
Type=oneshot
User=root
ExecStart=/usr/share/maratona-firewall/maratona-firewall-configuration.sh
ExecStop=/usr/sbin/ufw disable
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
