Source: maratona-firewall
Section: misc
Priority: optional
Maintainer: Bruno César Ribas <bruno.ribas@unb.br>
Build-Depends: debhelper-compat (= 12)
Vcs-Git: https://github.com/maratona-linux/maratona-firewall.git
Vcs-Browser: https://github.com/maratona-linux/maratona-firewall

Package: maratona-firewall
Architecture: all
Depends: ufw, debconf
Description: Pacote que isola o competidor da rede
 Este pacote evita que pacotes de rede entrem e saiam do maratona-linux,
 exceto pelo acesso ao servidor BOCA.
 .
 Os comandos disponibilizados neste pacote, são:
  - ip-servidor-boca
  - habilita-firewall
  - desabilita-firewall
